
.hide {
    visibility: hidden;
  }

.close-dialog {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  z-index: 99;
}


.main-background-color{
  background-color: #62D2A2;

}

.alert-info {
  /* position: fixed !important; */
  top: 1.5em !important;
  /* width: 90% !important; */
}


.achievementNot {
  filter: brightness(0%); 
}